ENVIRONMENT=
SERVER_PORT=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_SCHEMA=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_PORT=
JWT_SECRET=
TEXT_CORTEX_API_KEY=
TEXT_CORTEX_URL=
SELLEASE_API_SVC_URL=
RAPID_API_KEY=
RAPID_API_KEYWORD_HOST=
RAPID_API_KEYWORD_URL=
RAPID_API_TRANSLATE_HOST=
GOOGLE_TRANSLATE_URL=